.has-bg-img { 
    background: url('./assets/concert5.jpeg'); 
    background-size:cover; 
}

.title{
    color:white;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subtitle{
    color:white;
    font-size:50px;
    font-weight:40px;
}
#div1{
    color:#082966  ;
}
.button{
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}