.title{
    color: white;
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:800;
}

#header{
    background-color:#E2C0BB ;
    
}

#mapImage{
   margin-top: 10px;
   margin-left: 10px;
}


.column{
    margin-top: 20px;
    display: flex;   
}

#inputField{
    display: block;
    background-color:lightgrey;
    
   
}

.button.is-white{
    display: flex;
    justify-content: flex-end;
}

.input{
    color:#A76A49 ;
}