.title{
    color: white;
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:800;
}

#header{
    background-color:#E2C0BB ;
    
}

#mapImage{
   margin-top: 10px;
   margin-left: 10px;
}


.column{
    margin-top: 20px;
    display: flex;   
}
#mapImage{
    width: 100%;
    height: 500px;
    margin:0;
}

#inputField{
    display: block;
    background-color:lightgrey;
    margin-bottom: 40px;
    
   
}

.button.is-white{
    display: flex;
    justify-content: flex-end;
}

.input{
    color:#A76A49 ;
}

.button{
    background-color: transparent;
    border:0;
    position: relative;
    
}

#eventDetail{
    background-color:#E0D8C5;
    height:280px;
}


li{
    font-size: 25px;
    color:#485A55;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 60px;
    
}