.input{
    width:300px;
   
}

.columns{
    margin-top:40px;
    margin-left: 50px;
    
}

.column{
    flex-grow: unset;

}

#infoInput{
    background-color: white;
    margin-left:300px;

}


#mapImage{
   margin-top: 10px;
   margin-left: 10px;
}


